
<html>
    <head>
       <title>Employee list</title>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" type="text/javascript"></script>
          <script src="list.js" type="text/javascript"></script>
            <script type="text/javascript" src="xlsx.core.min.js"></script>
          <script type="text/javascript" src="Blob.min.js"></script>
          <script type="text/javascript" src="FileSaver.min.js"></script>
          <script type="text/javascript" src="tableexport.min.js"></script>

          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
button {
  margin-top :10px;
  margin-left:10px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>


    </head>
    <body>
            <button id="bt1" type="button" class="btn btn-default" >Show employee</button>
            <button id="show" type="button" class="btn btn-default">Show Hierarchy</button>
          <button id='add' type="button" class="btn btn-default">Add Employee</button>
          <button id='tree' type="button" class="btn btn-default">Employee Tree</button>
           <br/><br/>

         </br/>
          <div>

          <% if(typeof(data)!=="undefined"){ %>

            <div>
                <button id='export' type="button"  class="btn btn-default">Export</button>
            </div>
            <br/>

          <table id="empDetails">
            <tr>
              <th>Employee ID</th>
              <th>Name</th>
              <th>Designation</th>
              <th>Manager</th>
              <th>View</th>
            </tr>
            <% for(var i=0;i<data.length;i++){ %>
              <tr>
                <td>
                  <%= data[i].empid %>
                </td>
                <td>
                  <%= data[i].name %>
                </td>
                <td>
                  <%= data[i].designation %>
                </td>
                <td>
                  <%= data[i].manager %>
                </td>
                <td>
                  <button type="button" id="<%=data[i].empid %>" class="view" >View</button>
                </td>
              </tr>

            <% }%>
          </table>
          <% } %>
        </div>
    </body>
</html>
